{% extends 'user_dash.html' %} {% load static %} {% block content %}
<!--  -->
<div class="container px-5 py-2" id="basicinformation">
    <h2 class="pb-2 border-bottom">DELETE ACCOUNT</h2>
    <!--  -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-9 col-lg-9">

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <h3 style="margin-top:5px;margin-bottom:20px;">
                            Hanna Becker [ GMR064 ]
                            <span style="font-size:13px;" class="badge bg-danger" href="#">Free</span>
                        </h3>

                        <p> Hai Hanna You Would Like To Delete Your Profile !</p>

                        <p> <b>Note : Hanna Becker Once Deleted Your Profile, Then Will Not Be Recovered </b></p>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-sm-offset-4">
                    <a href="#" title="Profile View" class="btn btn-sm btn-success"><i class="icon-eye"></i>
                        Profile View</a> <a class="btn btn-sm btn-danger" href="#"><i class="icon-cancel-circle"></i>
                        Confirm Delete</a>
                </div>
            </div>
        </div>

    </div>
    <!--  -->
</div>
<!--  -->
{% endblock %}