{% extends 'user_dash.html' %}
{% load static %}
{% block content %}
<!--  -->
<div class="container px-5 py-2" id="homeadmin">
    <h2 class="pb-2 border-bottom">INTEREST</h2>

    <!--  -->
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 border-bottom-0">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="{% url 'expresseduser' %}" data-toggle="tab" aria-expanded="true" class="btn text-decoration-none">
                    <strong>Expressed <span class="badge rounded-pill bg-warning">9</span></strong>
                </a>
            </li>
            <li class="border-start border-1">
                <a href="{% url 'recieveduser' %}" data-toggle="tab" aria-expanded="false" class="btn text-decoration-none">
                    <strong>Received <span class="badge rounded-pill bg-info">2</span></strong>
                </a>
            </li>
        </ul>

        <div class="tab-content">
            {% block expressed %}
            {% endblock %}
        </div>
    </div>

    <!--  -->

</div>

<!--  -->

{% endblock %}