{% extends 'indexstaff.html' %}
{%load static%}
{% block content %}
<!--  -->

<div class="container-fluid px-5 py-3" id="unapproveduser">
    <h2 class="pb-2 border-bottom">ALL PROFILES</h2>

    <div class="table-responsive">
        <table class="table table-striped table-sm table-hover">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">USER ID</th>
                    <th class="text-center">USER NAME</th>
                    <th class="text-center">PRIMARY NUMBER</th>
                    <th class="text-center">GENDER</th>
                    <th class="text-center">AGE</th>
                    <th class="text-center">CITY</th>
                    <th class="text-center">MEMBERSHIP</th>
                    <th class="text-center">STATUS</th>
                    <th class="text-center">Date of Joined</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">1</td>
                    <td class="text-center"><a href="http://" target="_blank" rel="noopener noreferrer"
                            class="text-decoration-none">GM124</a></td>
                    <td class="text-center">IJAZ KARI</td>
                    <td class="text-center">9996437527</td>
                    <td class="text-center text-primary"><i class="fas fa-mars"></i></td>
                    <td class="text-center">28</td>
                    <td class="text-center">CALICUT</td>
                    <td class="text-center">
                        <div class="badge bg-danger">FREE</div>
                    </td>
                    <td class="text-center">
                        <div class="badge bg-success">ACTIVE</div>
                    </td>
                    <td class="text-center">28-12-2021</td>
                </tr>
                <tr>
                    <td class="text-center">2</td>
                    <td class="text-center"><a href="http://" target="_blank" rel="noopener noreferrer"
                            class="text-decoration-none">GM124</a></td>
                    <td class="text-center">ATIFA JHAN</td>
                    <td class="text-center">9996437527</td>
                    <td class="text-center text-danger"><i class="fas fa-venus"></i></td>
                    <td class="text-center">28</td>
                    <td class="text-center">CALICUT</td>
                    <td class="text-center">
                        <div class="badge bg-success">SILVER</div>
                    </td>
                    <td class="text-center">
                        <div class="badge bg-warning">INACTIVE</div>
                    </td>
                    <td class="text-center">28-12-2021</td>
                </tr>
                <tr>
                    <td class="text-center">3</td>
                    <td class="text-center"><a href="http://" target="_blank" rel="noopener noreferrer"
                            class="text-decoration-none">GM124</a></td>
                    <td class="text-center">ATIFA JHAN</td>
                    <td class="text-center">9996437527</td>
                    <td class="text-center text-danger"><i class="fas fa-venus"></i></td>
                    <td class="text-center">28</td>
                    <td class="text-center">CALICUT</td>
                    <td class="text-center">
                        <div class="badge bg-primary">GOLD</div>
                    </td>
                    <td class="text-center">
                        <div class="badge bg-success">ACTIVE</div>
                    </td>
                    <td class="text-center">28-12-2021</td>
                </tr>
                <tr>
                    <td class="text-center">4</td>
                    <td class="text-center"><a href="http://" target="_blank" rel="noopener noreferrer"
                            class="text-decoration-none">GM124</a></td>
                    <td class="text-center">AL AMEEN</td>
                    <td class="text-center">9996437527</td>
                    <td class="text-center text-primary"><i class="fas fa-mars"></i></td>
                    <td class="text-center">28</td>
                    <td class="text-center">CALICUT</td>
                    <td class="text-center">
                        <div class="badge bg-warning">DIAMOND</div>
                    </td>
                    <td class="text-center">
                        <div class="badge bg-warning">INACTIVE</div>
                    </td>
                    <td class="text-center">28-12-2021</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--  -->
{% endblock %}