{% extends 'indexadmin.html' %} {%load static%} {% block content %}
<div class="container-fluid px-5 py-3" id="premiumprofiles">
    <h2 class="pb-2 border-bottom">MORE FEATURES</h2>
    <a href="{% url 'staffprofiles' %}" class="btn btn-sm btn-outline-danger">STAFF PROFILES</a>
    <a href="{% url 'addstaff' %}" class="btn btn-sm btn-outline-secondary">ADD NEW STAF</a>
    <hr>

    <div class="col-12">
        {% block more %} {% endblock %}

    </div>

    <!-- <script src="{%static 'javascript/ajaxadmin.js'%}"></script> -->

</div>



{% endblock %}