{% extends 'moreadmin.html' %} {%load static%} {% block more %}
<!--  -->

<div class="table-responsive col-sm">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th class="text-center" scope="col">ID</th>
                <th class="text-center" scope="col">NAME</th>
                <th class="text-center" scope="col">EMAIL ID</th>
                <th class="text-center" scope="col">DESIGNATION</th>
                <th class="text-center" scope="col">MOBILE</th>
                <th class="text-center" scope="col">PASSWORD</th>
                <th class="text-center" scope="col">STATUS</th>
                <th class="text-center" scope="col">ACTION</th>

            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
                <td class="text-center">{{i.id}}</td>
                <td class="text-center"><a href="http://" target="_blank" rel="noopener noreferrer" class="text-decoration-none">{{i.name}}</a></td>
                <td class="text-center">{{i.email}}</td>
                <td class="text-center">{{i.designation}}</td>
                <td class="text-center">9998765432</td>
                <td class="text-center">{{i.password}}</td>
                <td class="text-center">
                    <div class="badge bg-warning">INACTIVE</div>
                </td>
                <td class="text-center">
                    <div class="btn-group btn-sm">
                        <button class="btn btn-sm btn-primary dropdown-toggle" id="dropdown03" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user-minus"></i></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdown03">
                            <li><button type="button" class="dropdown-item" onclick="deleteStaff('{{i.id}}')">DELETE</button></li>
                        </ul>
                    </div>
                </td>
            </tr>
            {% endfor %}
            <script src="{%static 'javascript/ajaxadmin.js'%}"></script>
        </tbody>
    </table>
</div>


<!--  -->
{% endblock%}